@import url('https://fonts.googleapis.com/css?family=Poppins');


#map{
    height:100vh;
    width: 100%;
}

.imagen{
    width:200px;
    padding-left: 15%;
}


.leaflet-popup-content-wrapper{
    overflow-y: scroll;
      /* overflow-x: scroll; */
      /* max-width: 300px; */
    max-height: 400px;
    text-align: justify;
    
}

.titulo{
    text-align:center;
    font-size:16px;
    color:#5D101A;
}

.contenido{
        text-align:justify;
        font-size:16px;
        color:#006633;
        font-family: 'Poppins', sans-serif !important;;
    
}

.leaflet-interactive{
    stroke:#AA801B;
}


/*barra desplazamiento*/
/* Estilos scrollbar */
::-webkit-scrollbar {
    width: 15px; /* ancho barra */
    }
    
    ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color fondo barra */
    }
    
    ::-webkit-scrollbar-thumb {
    background: #5D101A; /* color barra */
    border-radius: 10px; /* borde barra */
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #000; /* color barra hover */
    }